{% extends 'master.html'%}
{% block content %}
{% load static %}

<div class="row pt-10" style="padding: 30px;">
  <div class="col-lg-6">
  <div>
      <img src="{% static 'images/m11.jpg' %}" alt="" style="height: 500px; width: 700px;">
  </div>
  </div>
<div class="col-6 pt-5">
  <h2>History</h2><br>
  <p>Childhood friends Bill Gates and Paul Allen sought to make a business using their skills in computer programming.[17] In 1972, they founded Traf-O-Data, which sold a rudimentary computer to track and analyze automobile traffic data. Gates enrolled at Harvard University while Allen pursued a degree in computer science at Washington State University, though he later dropped out to work at Honeywell.[18] The January 1975 issue of Popular Electronics featured Micro Instrumentation and Telemetry Systems's (MITS) Altair 8800 microcomputer,[19] which inspired Allen to suggest that they could program a BASIC interpreter for the device. Gates called MITS and claimed that he had a working interpreter, and MITS requested a demonstration. Allen worked on a simulator for the Altair while Gates developed the interpreter, and it worked flawlessly when they demonstrated it to MITS in March 1975 in Albuquerque, New Mexico. MITS agreed to distribute it, marketing it as Altair BASIC. Gates

</p>

</div> </div>


<div class="row pt-10" style="padding: 30px;">  
    <div class="col-6 pt-5">
    <h2>History</h2><br>
    <p>Childhood friends Bill Gates and Paul Allen sought to make a business using their skills in computer programming.[17] In 1972, they founded Traf-O-Data, which sold a rudimentary computer to track and analyze automobile traffic data. Gates enrolled at Harvard University while Allen pursued a degree in computer science at Washington State University, though he later dropped out to work at Honeywell.[18] The January 1975 issue of Popular Electronics featured Micro Instrumentation and Telemetry Systems's (MITS) Altair 8800 microcomputer,[19] which inspired Allen to suggest that they could program a BASIC interpreter for the device. Gates called MITS and claimed that he had a working interpreter, and MITS requested a demonstration. Allen worked on a simulator for the Altair while Gates developed the interpreter, and it worked flawlessly when they demonstrated it to MITS in March 1975 in Albuquerque, New Mexico. MITS agreed to distribute it, marketing it as Altair BASIC. Gates
  
  </p>
  
  </div>
    <div class="col-lg-6">
    <div>
        <img src="{% static 'images/m22.jpg' %}" alt="" style="height: 500px; width: 700px;" >
    </div>
    </div> 
</div>
{% endblock %}