<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <label for="">Name : {{ username }}</label>



    {% if username == 'harshin' %}
    <h2>Valid username</h2>
    {% else %}
    <h2>Invalid</h2>
    {% endif %}

    {% for data in response %}
    <table border="1">
    <tr>
        <td>{{data.username}}</td> 
        <td>{{data.address}}</td>
        <td>{{data.number}}</td>
    </tr></table>
    {% endfor %}
</body>
</html>