/* .logo{
    text-align: right;
    float: left;
    background-color: brown;
    align-items: left;
}
.login{
    text-align: right;
  background-color: chartreuse;
  align-items: right;
  width: 50%;
  
}
.email{
    float: left;
} */