.container{
    background-color: rgb(245, 245, 245);
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 100px 50px ;
    grid-gap: 20px;
    /* border: blue;
    background: blue; */
    /* border-radius: 50px; */
    /* height: 200px;
    width: 200px; */
}
.pic{
    border: solid 1px yellowgreen;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
img{
    height: 300px;
    width: 200px;
}

    button{
        width: 100px;
        height: 40px;
        padding-left: 50px;
        text-align: center;
        border-radius: 10px;
        }
        button:hover{
        background-color: rgb(40, 85, 79);
        } 


        /* .b{
            border-radius: 10px;
            background-color: #85807e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
          }
          
          .b span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .b span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
          
          .b:hover span {
            padding-right: 25px;
          }
          
          .b:hover span:after {
            opacity: 1;
            right: 0;
          }



          .button {
            border-radius: 4px;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 28px;
            padding: 20px;
            width: 200px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
          }
          
          .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
          }
          
          .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
          }
          
          .button:hover span {
            padding-right: 25px;
          }
          
          .button:hover span:after {
            opacity: 1;
            right: 0;
          } */
